body {
  color: black;
  font-family: futura;
  text-align: center;
  background: url("../images/home_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-box {
  background-color: #778899;
  margin:0 auto;
  width: 40%;
  text-align: center;
  opacity: 0.9;
  padding: 0.5%;
}

.completed-true {
  text-decoration: line-through;
  color: #ddd;
}

#todo-text {
  width: 40%;
  text-align: center;
  font-family: futura;
}
#todo-submit {
  font-family: futura;
}

#checkbox-form {
  margin:0 auto;
  width:32%;
  text-align: left;
}
