body {
  color: #fdf6ee;
  font-family: futura;
  text-align: center;
  background: url("../images/home_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-box {
  background-color: #2f3f4f;
  margin:0 auto;
  width: 60%;
  text-align: center;
  opacity: 0.9;
  padding: 0.5%;
}

.completed-true {
  text-decoration: line-through;
  color: #778899;
}

.btn {
  font-family: futura;
  background-color: #2f3f4f;
  border-color: #fdf6ee;
  color: #fdf6ee;
  padding: 1%;
  margin: 1%;
}

.text-box {
  text-align: center;
  font-family: futura;
}

#count {
  font-family; marker felt;
  color: red;
  font-size: 1.4em;
}

#todo-text {
  width: 50%;
  text-align: center;
  font-family: futura;
}

#checkbox-form {
  margin:0 auto;
  width:40%;
  text-align: left;
}
