<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <!-- <meta charset="utf-8"> -->
    <title>Jon's ToDo List</title>
    <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>

  <body ng-controller="ToDoListController as ctrl">
    <div class="main-box">
      <h1>ToDo List by Jonathan Gardiner</h1>
      <h3>What you do today can improve all your tomorrows</h3>
      <form class="todo-form">
        <input type="text" value="What you do today can improve all your tomorrows" id="todo-text" ng-model="ctrl.taskname">
        <button class="btn" id="todo-submit" ng-click="ctrl.addTask(ctrl.taskname)">Add task!</button>
      </form>
      <br>
      <form id="checkbox-form" ng-repeat="task in ctrl.taskList">
        <input type="checkbox"> {{task.taskname}}<br>
      </form>
    </div>
  </body>
</html>
